<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <img src="../../assets/logo.png" style="width: 150px;height: 150px;">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a>Login</a></li>
            </ul><br>
        </div>
        <br>

        <div class="col-sm-6">
            <div class="well" style="height: 100vh;">
                <h4>Doctor Patient Portal</h4>
                <p>doctor which you need to connect</p>
                <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister(registerForm.value)">
                    <div class="row">
                        <div class="col-25">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-75">
                            <input type="email" id="email" name="emailid" placeholder="Please Enter Email" ngModel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="name">Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="name" name="name" placeholder="Your name.." ngModel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="gender">Gender</label>
                        </div>
                        <div class="col-75">
                            <select id="gender" name="gender" ngModel>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="age">Age</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="age" name="age" placeholder="Your Age.." ngModel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="user_profile_type">Profile Type</label>
                        </div>
                        <div class="col-75">
                            <select id="user" name="user" ngModel>
                                <option value="Patient">Patient</option>
                                <option value="Doctor">Doctor</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Sign Up">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well" *ngIf="!isOtpValid;else otpForm">
                Login
                <form #loginForm="ngForm" (ngSubmit)="onSubmitSignin(loginForm.value)">
                    <div class="row">
                        <div class="col-25">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-75">
                            <input type="email" id="email" name="emailid" placeholder="Please Enter Email" ngModel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="user_profile_type">Profile Type</label>
                        </div>
                        <div class="col-75">
                            <select id="user" name="user" ngModel>
                                <option value="Patient">Patient</option>
                                <option value="Doctor">Doctor</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Sign In">
                    </div>
                </form>
            </div>
            <ng-template class="well" #otpForm>
                OTP Validation
                <form #otpForm="ngForm" (ngSubmit)="onSubmitOtpValidate(otpForm.value)">
                    <div class="row">
                        <div class="col-25">
                            <label for="otp">OTP</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="otp" name="otp" placeholder="Please Enter OTP" ngModel>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Validate">
                    </div>
                </form>
            </ng-template>
        </div>
    </div>
</div>